<div>
    <h2 align="center"> Gerenciamento de Cursos</h2>
        <div class="form-group" ng-class="{true: '', false: 'has-error'}[errors.name==null]">
            <label for="nameInput" class="control-label">{{ nameLabel }}</label>
            <input id="nameInput" type="text" class="form-control" ng-model="course.name"/>
            <span class="help-block" ng-show="errors.name"> {{ errors.name }}</span>
        </div>

        <div class="form-group" ng-class="{true: '', false: 'has-error'}[errors.duration==null]">
            <label for="durationInput" class="control-label">{{ durationLabel }}</label>
            <input id="durationInput" type="text" class="form-control" ng-model="course.duration"/>
            <span class="help-block" ng-show="errors.duration"> {{ errors.duration }}</span>
        </div>

        <div class="form-group" ng-class="{true: '', false: 'has-error'}[errors.educationProject==null]">
            <label for="educationProjectInput" class="control-label">{{ planLabel }}</label>
            <input id="educationProjectInput" type="text" class="form-control" ng-model="course.educationProject"/>
            <span class="help-block" ng-show="errors.educationProject"> {{ errors.educationProject }}</span>
        </div>

        <div align="center">
            <button class="btn btn-log" ng-click="salvar()" ng-hide="ajaxFlag">Criar</button>
            <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
        </div>
</div>